<div class="col-12 col-md-12">
    <div class="card">
        <h3 class="card-header">Login</h3>
        <div class="card-body">
            <form action="" class="p-class" id="login-form">
                <div class="">
                    <label for="username-login" style="display: block">Username</label>
                    <input type="text" id="username-login" style="width: 100%; line-height: 1.5rem; font-size: 1rem">
                </div>
                <div class="" style="margin-bottom: 1.5%">
                    <label for="password-login" style="display: block;">Password</label>
                    <input type="password" id="password-login"
                        style="width: 100%; line-height: 1.5rem; font-size: 1rem">
                </div>
                <div>
                    <button type="submit" class="btn" style="margin-top: 1%">Login!</button>
                </div>
            </form>
            <div style="margin-top: 1%;">
                <a href="/signup" style="text-decoration: none">
                    Sign up instead
                </a>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/login.js"></script>