<div class="col-12 col-md-12">
    <div class="card">
        <h3 class="card-header">Signup</h3>
        <div class="card-body">
            <form action="" class="p-class" id="signup-form">
                <div class="">
                    <label for="username-signup" style="display: block">Username</label>
                    <input type="text" id="username-signup" style="width: 100%; line-height: 1.5rem; font-size: 1rem">
                </div>
                <div class="" style="">
                    <label for="email-signup" style="display: block;">Email</label>
                    <input type="email" id="email-signup"
                        style="width: 100%; line-height: 1.5rem; font-size: 1rem">
                </div>
                <div class="" style="margin-bottom: 2%">
                    <label for="password-signup" style="display: block;">Password</label>
                    <input type="password" id="password-signup"
                        style="width: 100%; line-height: 1.5rem; font-size: 1rem">
                </div>
                <div>
                    <button type="submit" class="btn" style="margin-top: 1%">Sign Up!</button>
                </div>
            </form>
            <div style="margin-top: 1%;">
                <a href="/login" style="text-decoration: none">
                    Login instead
                </a>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/signup.js"></script>